.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background: rgba(0,0,0,.075);
    z-index: 5;
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    padding: 16px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,.26);

}

.alert-box-actions{
    text-align: right;
}



















